<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

    <a th:href="@{/campaigns/list}"><input type="button" value="Wyswietl kampanie"/></a>
    <a th:href="@{/sellers/list}"><input type="button" value="Wyswietl sprzedawcow"/></a>
    <a th:href="@{/login}"><input type="button" value="Zaloguj się"/></a>
    <a th:href="@{/logout}"><input type="button" value="Wyloguj się"/></a>
    <a th:href="@{/register}"><input type="button" value="Zarejestruj się"/></a>


</body>
</html>