<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sellers list</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<h1>Lista sprzedawców</h1>

<table>
    <tr>
        <th>Nazwa użytkownika</th>
        <th>Imię</th>
        <th>Zawartość konta</th>
        <th>Edytuj</th>
        <th>Usuń</th>
    </tr>
    <tr th:each ="seller : ${sellers}">
        <td th:text="${seller.username}">USERNAME</td>
        <td th:text="${seller.firstname}">FIRSTNAME</td>
        <td th:text="${seller.funds}">FUNDS</td>
        <td>
            <a th:href="@{/sellers/{id}(id=${seller.id})}">
                <input type="submit" value="Edytuj"/>
            </a>
        </td>
        <td>
            <form th:action="@{/sellers/{id}(id=${seller.id})}" th:method="DELETE">
                <input type = "submit" th:value="Usuń"/>
            </form>
        </td>
    </tr>
</table>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>
<a th:href="@{/register}"><input type="submit" value="Dodaj nowego sprzedawcę"/></a>
</body>

</html>